.invoice-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Ensure the container is scrollable */
  height: 70vh; /* Full viewport height */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.invoice-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.invoice-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.invoice-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}